html {
  height: 100vh;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $text;
  font-family: $family-primary;
}


h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: $family-secondary;
}

h1,
h2 {
  font-size: 3.5vh;
  @media screen and (min-width: $mobile-min) {
    font-size: 3.5vh;
  }
}
h3 {
  font-size: 2vh;
}

p {
  font-size: 0.75rem;
  @media screen and (min-width: $mobile-min) {
    font-size: 1.5rem;
  }
}

section {
  padding: 3rem 1.5rem;
  @media screen and (min-width: $mobile-min) {
    padding: 8rem 1.5rem;
  }
}

.svg-image {
  img{
    display: block;
    margin: 0 auto;
    width: 90%
  }
}



//pages styles

// =====================
// Contact form Styles
// =====================

.contact__form {
  &--input {
    border: 3px solid $brand-color;
    border-radius: 10px; 

    &::placeholder {
      color: $brand-font-color;
      font-family: $family-primary;
      @extend .is-bold;
      font-weight: 500;
    }

    &:focus, &:hover{
      border: 3px solid $brand-color;
    }
    &.is-danger {

      border: 3px solid $brand-red;
      &:hover {
        border: 3px solid $brand-red;
      }
    }
  }
}
.btn {
  margin-top: 20px;
  background-color: $brand-color;
  color: #fff;
  font-size: 2vh;
  border: none;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
  height: 45px;
  padding: 16px 35px;
  line-height: 20px;
  text-decoration: none;
  &:hover, &:active, &:focus{
    color: #fff;
    border: none;
  }
}
