//It needs to change depending on the brand
$brand-color: rgb(39, 187, 177);
$brand-secondary: rgb(1,225,210);
$brand-grey: rgb(50, 50, 50);
$brand-font-color: rgb(0, 27, 65);
$highlight: rgb(0, 242, 218);
$brand-blue: rgb(30, 125, 255);
$brand-purple: rgb(124, 94, 209);
$brand-red: rgb(255, 111, 97);

$danger: $brand-red;
$primary: $brand-color;
$link: $brand-grey;
$dark: $brand-grey;
$text: $brand-font-color;
