
    .nav {
        padding-bottom: 0;
        height: 70px;
        overflow: hidden;
        padding: 15px 5%;
    }

    .main-nav {
        float: right;

    }

    .main-nav li {
        padding: 5px;
        text-align: center;
    }

    .nav-links {
        //margin-left: 40px;
        color: $primary;
        font-size: 1.3rem;
    }

    .logo {

        float: left;
        width: 150px;
        display: block;
    }

    .nav-links:hover {
        color: $brand-secondary;
    }